body, .mceEditor td, .mceEditor pre {color:#000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:0.8em; margin:8px;}
.mceEditor body {background:#FFF;}
.mceEditor body.mceForceColors {background:#FFF; color:#000;}
.mceEditor h1 {font-size: 2em}
.mceEditor h2 {font-size: 1.5em}
.mceEditor h3 {font-size: 1.17em}
.mceEditor h4 {font-size: 1em}
.mceEditor h5 {font-size: .83em}
.mceEditor h6 {font-size: .75em}
.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {border: 1px dashed #BBB;}
a.mceItemAnchor {display:inline-block; width:11px !important; height:11px  !important; background:url(img/items.gif) no-repeat 0 0;}
span.mceItemNbsp {background: #DDD}
td.mceSelected, th.mceSelected {background-color:#3399ff !important}
.mceEditor img {border:0;}
.mceEditor table {cursor:default}
.mceEditor table td, table th {cursor:text}
.mceEditor ins {border-bottom:1px solid green; text-decoration: none; color:green}
.mceEditor del {color:red; text-decoration:line-through}
.mceEditor cite {border-bottom:1px dashed blue}
.mceEditor acronym {border-bottom:1px dotted #CCC; cursor:help}
.mceEditor abbr {border-bottom:1px dashed #CCC; cursor:help}

/* IE */
* html body {
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
}

.mceEditor img:-moz-broken {-moz-force-broken-image-icon:1; width:24px; height:24px}
.mceEditor font[face=mceinline] {font-family:inherit !important}
